* {
    padding: 0;
    margin: 0;
}

@media only screen and (min-width: 768px) {
    
}

body {
    box-sizing: border-box;
}

.container {
    background-color: white;
    border: 20px solid rgb(1, 11, 22);
    display: grid;
    height: 95vh;
    margin: auto;
}
.animation-box {
    margin: auto;
    width: 75%;
}

.buttons {
    list-style-type: none;
    padding: 1rem;
    text-align: center;
}

.button {
    background-color: rgb(41, 35, 58);
    border: 1px solid #a6bba3;
    border-radius: 10px;
    box-shadow: 3px 3px 10px darkslategray;
    color: white;
    font-family: Helvetica;
    font-size: 2em;
    margin: auto;
    height: 4em;
    width: 10em;
}

.button:hover {
    cursor: pointer;
    cursor: hand;
}
