* {
    --nav-color: darkslategray;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
}

@keyframes fadeIn{
    0%{
        transform: translateY(-100px);
        opacity: 0;
        }
    25%{
        transform: translateY(-75px);
        opacity: .40;
        }
    50%{
        transform: translateY(-50px);
        opacity: .65;
        }
    75%{
        transform: translateY(-25px);
        opacity: .9;
        }
    100%{
        transform: translateY(0px);
        opacity: 1;
        }
}
#navbar {
    animation: fadeIn 1s 1 0s ease-in;
    background-color: var(--nav-color, gray);
    height: 20%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
  }

nav ul {
    color: white;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    list-style: none;
    
  }

nav li {
    background-color: var(--nav-color, gray)y;
    color: white;
    font-family: helvetica;
    font-size: 1em;
    text-shadow: 0px 2px 5px darkslategray;
    text-transform: uppercase;
  }

a {
    align-self: center;
    display: block;
    padding: 10px;
    text-decoration: none;
    width: 300px;
  }
a:hover {
    cursor: pointer;
    cursor: hand;
    outline: none;
}

.container {
    background-color: white;
    display: flex;
    height: 95vh;
    margin: auto;
}

@media (max-width: 500px) {
    .button {
    height: 1em;
    width: 1.5em;
    }
    nav li {
        font-size: 1em;
    }
}